.search {
  position: relative;
  width: 100%;
  background-image: url("../media/search_wallpaper.jpg");
  background-position: bottom;
  background-size: cover;
  min-height: 18.3rem;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}
.search_form {
  position: relative;
  width: 100%;
  min-height: 18.3rem;
  background-color: rgba(255, 253, 253, 0.384);
}

.form_container {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  margin: 0;
  top: 40%;
  left: 48%;
  -webkit-transform: translate(-40%, -50%);
  -o-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}
.form_container h2 {
  margin-bottom: 0;
}

.form_container small {
  opacity: 0.7;
  margin-bottom: 0.02rem;
}
.search_field {
  outline: none;
  font-family: "Staatliches";
  text-align: center;
  margin: 0 auto;
  border-radius: 0.4rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  min-width: 12rem;
}

.search_button {
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  outline: none;
  border-radius: 0.2rem;
  max-width: 8rem;
  width: 8rem;
  height: 2rem;
  margin: 0 auto;
  background-color: #c62828cc;
  border: 0.1rem solid #c62828;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.search_button:hover {
  background-color: #c62828de;
  border-radius: 0.6rem;
}
.search_link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  top: 22%;
  left: 0;
}
