.hero_nav_item {
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  color: #f3f4f6;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 3rem;
  cursor: pointer;
  padding: 0.1rem;
  border-bottom: 0.1rem solid transparent;
  opacity: 0.8;
}
.hero_nav_item:hover {
  opacity: 1;
  border-bottom: 0.1rem solid #f3f4f6;
}
