.hero_nav_item {
  transition: all 0.18s ease-in-out;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 3rem;
  cursor: pointer;
  padding: 0.1rem;
  border-bottom: 0.1rem solid transparent;
  opacity: 0.85;
}

.hero_nav_item:hover {
  opacity: 1;
  border-bottom: 0.1rem solid #c62828;
}
