.power_bar {
  position: relative;
  width: 40%;
  margin: 0 1rem;
}
.bar {
  position: relative;
  height: 2rem;
  border: red solid 0.1rem;
  text-align: center;
}
.progress_bar {
  position: absolute;
  height: 2rem;
  background-color: purple;
  z-index: -1;
}
