.hero_bar {
  position: relative;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position-x: center;
  border: 0.05rem white solid;
  cursor: pointer;
  opacity: 0.2;
}
.hero_bar:hover {
  opacity: 1;
}
