.home_container {
  position: relative;
  min-height: 21rem;
  height: 46.5vh;
  color: #f3f4f6;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: center;
}
