.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
  transition-delay: 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  position: absolute;
  transition: all 100ms ease-in-out;
}
